body {
    background: black;
    color:white;
  }

  html {
    font-size: 30px;
    text-align:center;
  }
  form * {
    font-family: inherit;
    font-size: inherit;
  }
  img {
    width: 200px;
  }

  .out {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  }

 .out>figure:nth-child(4)>img {
    width:400px;
}