/* Variables */
:root {
  --main-font-family: 'PT Sans', sans-serif;
  --second-font-family: 'Open Sans', sans-serif;
}

/* Basic styles */
* {
  box-sizing: border-box;
}

*:focus {
  box-shadow: none;
}

html, body {
  background: black;
  color:white;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
  height: 100%;
  font-family: var(--main-font-family);
}

.container {
  margin-top:5%;
}

/* Navbar section */
.gifs-search-input {
  width: 100%;
  height: 3rem;
  border: none;
  padding: 0 1rem;
  border-radius: 0.25rem;
}

.gifs-search-input:focus {
  outline: none;
}

/* GIFs list section */
.block img {
  margin-bottom: 8%;
  width: 100%;
}
